snippet sec "comment block/section" b
/**
  * @brief  ${1:Reports the name of the source file and the source line number
  *         where the assert_param error has occurred.}${2:
  * @param  file: pointer to the source file name
  * @param  line: assert_param error line source number}
  * @retval ${3:None}
  */
$0
endsnippet
