# Snippet options:
#		b - Beginning of line.
#		i - In-word expansion.
#		w - Word boundary.
#		r - Regular expression
#		e - Custom context snippet
#		A - Snippet will be triggered automatically, when condition matches.

snippet fmp "fmt.Println" bA
fmt.Println($1)
endsnippet
