# ignore everything
# file 
/*
# folder
/*/

/ranger/plugins/__pycache__/*
/ranger/colorschemes/__pycache__/*
/ranger/folders.conf
/ranger/history
/ranger/bookmarks
/ranger/tagged

# ... but these:
!/i3/
/i3/log/
!/fish/
!/omf/
!/polybar/
!/ranger/
!/alacritty/
!/neofetch/
!/compton.conf
!/.Xmodmap
!/.zshrc
!/.gitignore
!/README.md
!/my-packages.txt
!/zsh
!/.vimrc
!/vimium-options.json
!/install.sh
!/config-env.sh
!/snippits.vim
