# ignore everything
# file
/*
# folder
/*/

!/ranger/
/ranger/__pycache__/*
/ranger/plugins/__pycache__/*
/ranger/colorschemes/__pycache__/*
/ranger/folders.conf
/ranger/history
/ranger/bookmarks
/ranger/tagged

# ... but these:
!/i3/
/i3/log/
!/polybar/
!/alacritty/
!/neofetch/
!/zathura/
!/picom.conf
!/.xprofile
!/fcitx5
!/.Xmodmap
!/vimspector_template
!/.zshrc
!/.gitignore
!/README.md
!/my-packages.txt
# !/zsh
!/.vimrc
!/vimium-options.json
!/1-config-env.sh
!/2-install.sh
!/snippits.vim
!/zsh-vim-mode.zsh
!/agnoster-modified.zsh-theme
!/fzf.zsh
!/coc-settings.json
!/UltiSnips/

!/joplin
/joplin/*
!/joplin/keymap.json

!/jesseduffield/
/jesseduffield/lazygit/*
!/jesseduffield/lazygit/config.yml
